//------ COLORS
// Primary
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkdDesaturated: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerate: hsl(168, 34%, 41%);
$darkGreen: hsl(168, 64%, 76%);

// Neutral
$veryDarkDesaturated: hsl(212, 27%, 19%);
$veryDarkGrayish: hsl(213, 9%, 39%);
$darkGrayish: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

// Fonts
$familyBarlow: "Barlow", sans-serif;
$familyfraunces: "Fraunces", serif;
